<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1><%= books.title %></h1>
    <p>Author: <%= books.author %></p>
    <a href="/update/<%= books.id %>">Edit</a>
    <a href="/delete/<%= books.id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>
